/* ================= RESPONSIVE ================= */
@media screen and (max-width: 1400px) {
  .right img {
    top: 0px;
    right: -25px;
  }
}
@media (max-width: 1270px) {
  .left {
    width: 75%;
  }

  .right img {
    max-width: 320px;
    top: -5px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 1024px) {
  #about {
    width: 90%;
  }

  .content {
    padding-right: 30px;
    padding-left: 220px;
  }

  .hero h2 {
    font-size: 36px;
  }

  .left {
    width: 65%;
  }

  #dark {
    top: -30px;
    right: 0px;
    padding: 8px;
    font-size: 16px;
  }

  button {
    padding: 8px;
  }

  .right img {
    max-width: 230px;
    height: 240px;
    top: 10px;
    right: 10px;
  }
}
@media (max-width: 900px) {
  .left {
    width: 60%;
  }

  h3 {
    font-size: 28px;
  }

  .right img {
    max-width: 200px;
    height: 210px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 130px;
    padding: 30px 15px;
  }
.sidebar p{
  font-size: 12px;
}
  .menu {
    transform: translateX(-100%);
  }

  #menu {
    display: block;
    right: 10px;
  }

  #close {
    display: none;
    right: 10px;
  }

  #horizontal {
    display: block;
  }

  .content {
    padding-left: 150px;
    padding-right: 20px;
  }

  .hero h2 {
    font-size: 30px;
  }

  .hero p {
    font-size: 14px;
  }

  h3 {
    font-size: 26px;
  }
  .left {
    width: 100%;
    margin-right: 0;
  }

  .right img {
    display: none;
  }

  .top img {
    display: block;
    max-width: 300px;
    height: 280px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  #form {
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 680px) {
  .sidebar {
    width: 110px;
    padding: 30px 10px;
  }

  .content {
    padding-left: 120px;
    padding-right: 15px;
  }

  .hero h2 {
    font-size: 26px;
  }

  section p {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  .box,
  .project {
    padding: 10px 15px;
  }
}
@media (max-width: 530px) {
.top img{
  margin: 20px 9%;
}
}

@media (max-width: 480px) {
  .sidebar {
    width: 100px;
    padding: 20px 10px;
  }

  .content {
    padding-left: 110px;
    padding-right: 10px;
  }
  .top img{
    max-width: 230px;
    height: 220px;
    margin: 20px 15%;
  }

  #dark {
    font-size: 14px;
  }

  #dark .material-symbols-outlined {
    font-size: 16px;
  }

  .hero h2 {
    font-size: 26px;
  }

  .hero p {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .box,
  .project {
    padding: 10px;
  }
}
@media screen and (max-width:390px) {
  .top img {
    max-width: 200px;
    height: 190px;
    margin: 20px 7%;
    }
}